@import '../../../../assets/css/config';

.todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  align-self: center;
  justify-self: center;
  font-size: 1rem;
  line-height: 30px;

  &:focus {
    outline-color: $accent-color;
    border-color: $accent-color;
  }
}

.addBtn {
  align-self: center;
  justify-self: center;
}