@import '../../../../assets/css/config';

.oneQuote {
  background-color: lighten($background-primary-color, 10%);
  box-shadow: rgba($text-primary-color, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;

  p {
    line-height: 1.5;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
  }
}

.oneQuote > * {
  margin: 0 2rem;
}

.highlight {
  background-color: darken($background-primary-color, 5%);
}