$text-primary-color: #333;
$background-primary-color: whitesmoke;
$main-white: #FFF;
$accent-color: hotpink;
$font-small: 12px;
$font-normal: 14px;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 400px;
  height: 80vh;
  border: thin solid rgba($text-primary-color, 0.2);
  border-radius: 5px;
  padding: 1rem;
  overflow: auto;
}


@media screen and (max-width: 480px) {
  .container {
    width: 350px;
    height: 90vh;
  }
}

@import 'button';