@import '../../assets/css/config';

.app {
  text-align: center;
  background-color: $background-primary-color;
  color: $text-primary-color;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 4fr;
  font-size: $font-normal;
}
