@import '../../../../assets/css/config';

.addQuote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem 1rem;
  width: 100%;
}

input[type="text"] {
  font-size: $font-normal;
  padding: 0 5px;
  line-height: 40px;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid lighten($text-primary-color, 50%);

  &:focus {
    outline-color: lighten($red, 10%);
    border-color: lighten($red, 10%);
  }
}
